# üìä S·∫Øp x·∫øp v√† bi·∫øn ƒë·ªïi d·ªØ li·ªáu trong Khoa h·ªçc D·ªØ li·ªáu

---

## üéØ M·ª•c ti√™u h·ªçc t·∫≠p

Sau khi ho√†n th√†nh b√†i h·ªçc n√†y, b·∫°n s·∫Ω c√≥ th·ªÉ:

‚úÖ **Hi·ªÉu v√† s·ª≠ d·ª•ng ch·ªâ s·ªë ph√¢n c·∫•p (hierarchical indexing)** ƒë·ªÉ t·ªï ch·ª©c d·ªØ li·ªáu hi·ªáu qu·∫£  
‚úÖ **K·∫øt h·ª£p d·ªØ li·ªáu t·ª´ nhi·ªÅu ngu·ªìn** b·∫±ng c√°c ph∆∞∆°ng ph√°p merge v√† concat  
‚úÖ **Chuy·ªÉn ƒë·ªïi c·∫•u tr√∫c d·ªØ li·ªáu** t·ª´ d·∫°ng wide sang long v√† ng∆∞·ª£c l·∫°i  
‚úÖ **S·ª≠ d·ª•ng stack/unstack** ƒë·ªÉ reshape d·ªØ li·ªáu c√≥ MultiIndex  
‚úÖ **√Åp d·ª•ng c√°c k·ªπ thu·∫≠t** v√†o ph√¢n t√≠ch d·ªØ li·ªáu kinh t·∫ø v√† kinh doanh  

---

## üìç L·ªô tr√¨nh b√†i gi·∫£ng

```
Ph·∫ßn 1: Ch·ªâ s·ªë ph√¢n c·∫•p (Hierarchical Indexing)  ‚≠ê‚≠ê Trung b√¨nh
    ‚îú‚îÄ‚îÄ T·∫°o MultiIndex t·ª´ c·ªôt
    ‚îú‚îÄ‚îÄ Truy xu·∫•t d·ªØ li·ªáu linh ho·∫°t
    ‚îú‚îÄ‚îÄ S·∫Øp x·∫øp v√† th·ªëng k√™ theo c·∫•p
    ‚îî‚îÄ‚îÄ T·ªëc ƒë·ªô truy xu·∫•t v·ªõi index
    
Ph·∫ßn 2: K·∫øt h·ª£p d·ªØ li·ªáu (Data Merging)          ‚≠ê‚≠ê Trung b√¨nh
    ‚îú‚îÄ‚îÄ pandas.merge v·ªõi c√°c lo·∫°i join
    ‚îú‚îÄ‚îÄ Merge nhi·ªÅu-nhi·ªÅu (many-to-many)
    ‚îú‚îÄ‚îÄ K·∫øt h·ª£p d·ª±a tr√™n ch·ªâ s·ªë
    ‚îî‚îÄ‚îÄ X·ª≠ l√Ω d·ªØ li·ªáu tr√πng l·∫∑p
    
Ph·∫ßn 3: N·ªëi d·ªØ li·ªáu theo tr·ª•c (Concatenation)    ‚≠ê D·ªÖ
    ‚îú‚îÄ‚îÄ N·ªëi theo d√≤ng (axis=0)
    ‚îú‚îÄ‚îÄ N·ªëi theo c·ªôt (axis=1)
    ‚îî‚îÄ‚îÄ X·ª≠ l√Ω ch·ªâ s·ªë tr√πng l·∫∑p
    
Ph·∫ßn 4: Reshaping d·ªØ li·ªáu                        ‚≠ê‚≠ê‚≠ê Kh√≥
    ‚îú‚îÄ‚îÄ Wide ‚Üí Long (melt)
    ‚îú‚îÄ‚îÄ Long ‚Üí Wide (pivot)
    ‚îî‚îÄ‚îÄ Stack/Unstack v·ªõi MultiIndex
```

> **üí° Khuy·∫øn ngh·ªã:** H·ªçc tu·∫ßn t·ª± t·ª´ Ph·∫ßn 1 ‚Üí Ph·∫ßn 4. M·ªói ph·∫ßn x√¢y d·ª±ng d·ª±a tr√™n ki·∫øn th·ª©c c·ªßa ph·∫ßn tr∆∞·ªõc.

---

## ‚ö†Ô∏è L∆∞u √Ω quan tr·ªçng

> **üí° Cho sinh vi√™n Kinh t·∫ø:** B√†i h·ªçc n√†y t·∫≠p trung v√†o c√°c k·ªπ thu·∫≠t t·ªï ch·ª©c v√† k·∫øt h·ª£p d·ªØ li·ªáu m√† b·∫°n s·∫Ω s·ª≠ d·ª•ng khi ph√¢n t√≠ch d·ªØ li·ªáu kinh t·∫ø, b√°o c√°o t√†i ch√≠nh, v√† nghi√™n c·ª©u th·ªã tr∆∞·ªùng.

> **üîß T∆∞∆°ng th√≠ch:** Notebook n√†y ho·∫°t ƒë·ªông t·ªët tr√™n c·∫£ **Jupyter Notebook**, **JupyterLab**, v√† **Google Colab**.

---

## üöÄ B·∫Øt ƒë·∫ßu h·ªçc t·∫≠p

H√£y b·∫Øt ƒë·∫ßu v·ªõi **Ph·∫ßn 1: Ch·ªâ s·ªë ph√¢n c·∫•p** üëá

---

## üîß Thi·∫øt l·∫≠p m√¥i tr∆∞·ªùng

> **üí° M·ª§C TI√äU:** ƒê·∫£m b·∫£o notebook ho·∫°t ƒë·ªông t·ªët tr√™n c·∫£ m√¥i tr∆∞·ªùng local v√† Google Colab

### **C√†i ƒë·∫∑t th∆∞ vi·ªán c·∫ßn thi·∫øt:**

```python
# Ch·∫°y cell n√†y n·∫øu b·∫°n ƒëang s·ª≠ d·ª•ng Google Colab
# Ho·∫∑c n·∫øu g·∫∑p l·ªói ImportError khi ch·∫°y c√°c cell kh√°c

import subprocess
import sys

def install_package(package):
    """C√†i ƒë·∫∑t package n·∫øu ch∆∞a c√≥"""
    try:
        __import__(package)
        print(f"‚úÖ {package} ƒë√£ ƒë∆∞·ª£c c√†i ƒë·∫∑t")
    except ImportError:
        print(f"üì¶ ƒêang c√†i ƒë·∫∑t {package}...")
        subprocess.check_call([sys.executable, "-m", "pip", "install", package])
        print(f"‚úÖ ƒê√£ c√†i ƒë·∫∑t {package} th√†nh c√¥ng")

# C√†i ƒë·∫∑t c√°c th∆∞ vi·ªán c·∫ßn thi·∫øt
packages = [
    "pandas",
    "numpy",
    "matplotlib",
    "seaborn"
]

for package in packages:
    install_package(package)

print("üéâ Thi·∫øt l·∫≠p ho√†n t·∫•t! B·∫°n c√≥ th·ªÉ ti·∫øp t·ª•c v·ªõi b√†i h·ªçc.")
```

### **Import c√°c th∆∞ vi·ªán:**

```python
# Import c√°c th∆∞ vi·ªán c·∫ßn thi·∫øt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Thi·∫øt l·∫≠p hi·ªÉn th·ªã
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
plt.style.use('default')

print("‚úÖ ƒê√£ import t·∫•t c·∫£ th∆∞ vi·ªán c·∫ßn thi·∫øt!")
print("üìä S·∫µn s√†ng b·∫Øt ƒë·∫ßu b√†i h·ªçc Data Manipulation!")
```

---

# üìä **Ph·∫ßn 1: Ch·ªâ s·ªë ph√¢n c·∫•p (Hierarchical Indexing)**

---

## üéØ **T·∫°i sao c·∫ßn ch·ªâ s·ªë ph√¢n c·∫•p?**

Trong th·ª±c t·∫ø, d·ªØ li·ªáu th∆∞·ªùng c√≥ c·∫•u tr√∫c ph·ª©c t·∫°p v·ªõi nhi·ªÅu chi·ªÅu kh√°c nhau. V√≠ d·ª•:

- **D·ªØ li·ªáu c·ªï phi·∫øu:** M√£ c·ªï phi·∫øu √ó Ng√†y √ó Gi√°
- **D·ªØ li·ªáu b√°n h√†ng:** Khu v·ª±c √ó S·∫£n ph·∫©m √ó Th√°ng √ó Doanh s·ªë  
- **D·ªØ li·ªáu kh·∫£o s√°t:** Nh√≥m tu·ªïi √ó Gi·ªõi t√≠nh √ó Thu nh·∫≠p √ó M·ª©c ƒë·ªô h√†i l√≤ng

**Ch·ªâ s·ªë ph√¢n c·∫•p** gi√∫p ch√∫ng ta:
- ‚úÖ **T·ªï ch·ª©c d·ªØ li·ªáu** m·ªôt c√°ch logic v√† d·ªÖ hi·ªÉu
- ‚úÖ **Truy xu·∫•t nhanh** c√°c ph·∫ßn d·ªØ li·ªáu c·ª• th·ªÉ
- ‚úÖ **Th·ª±c hi·ªán ph√¢n t√≠ch** theo nhi·ªÅu chi·ªÅu kh√°c nhau
- ‚úÖ **TƒÉng hi·ªáu su·∫•t** khi l√†m vi·ªác v·ªõi d·ªØ li·ªáu l·ªõn

---

## üìà **V√≠ d·ª• th·ª±c t·∫ø: D·ªØ li·ªáu gi√° c·ªï phi·∫øu**

Gi·∫£ s·ª≠ b·∫°n l√† nh√† ph√¢n t√≠ch t√†i ch√≠nh v√† c·∫ßn theo d√µi gi√° c·ªï phi·∫øu c·ªßa 3 c√¥ng ty trong 2 ng√†y:

### **üîç B∆∞·ªõc 1: T·∫°o d·ªØ li·ªáu m·∫´u**

Ch√∫ng ta s·∫Ω t·∫°o m·ªôt DataFrame ƒë∆°n gi·∫£n ƒë·ªÉ minh h·ªça:

X√©t v√≠ d·ª• sau, v·ªõi b·∫£ng d·ªØ li·ªáu theo d√µi gi√° c·ªï phi·∫øu theo ng√†y

In [1]:
import pandas as pd
import numpy as np

stock_prices = pd.DataFrame({
    'Ma CP': ['VPB', 'VPB', 'TCB', 'TCB', 'VNM', 'VNM'],
    'Ngay': ['2025-08-14','2025-08-15','2025-08-14','2025-08-15', '2025-08-14','2025-08-15'],
    'Price': [31.2, 32.5, 35.1, 34.0, 60.5, 61.3]
})

stock_prices

  Ma CP        Ngay  Price
0   VPB  2025-08-14   31.2
1   VPB  2025-08-15   32.5
2   TCB  2025-08-14   35.1
3   TCB  2025-08-15   34.0
4   VNM  2025-08-14   60.5
5   VNM  2025-08-15   61.3

### **üìä Ph√¢n t√≠ch d·ªØ li·ªáu hi·ªán t·∫°i**

D·ªØ li·ªáu tr√™n c√≥ c·∫•u tr√∫c **"long format"** - m·ªói h√†ng l√† m·ªôt quan s√°t c·ª• th·ªÉ. Tuy nhi√™n, ƒë·ªÉ ph√¢n t√≠ch hi·ªáu qu·∫£, ch√∫ng ta th∆∞·ªùng c·∫ßn:

1. **L·∫•y d·ªØ li·ªáu c·ªßa m·ªôt c·ªï phi·∫øu c·ª• th·ªÉ** (v√≠ d·ª•: VPB)
2. **L·∫•y d·ªØ li·ªáu c·ªßa m·ªôt ng√†y c·ª• th·ªÉ** (v√≠ d·ª•: 2025-08-14)
3. **So s√°nh gi√° gi·ªØa c√°c c·ªï phi·∫øu** trong c√πng m·ªôt ng√†y

### **üîç B∆∞·ªõc 2: Th·ª≠ nghi·ªám truy xu·∫•t d·ªØ li·ªáu th√¥ng th∆∞·ªùng**

Tr∆∞·ªõc khi h·ªçc v·ªÅ MultiIndex, h√£y xem c√°ch truy xu·∫•t d·ªØ li·ªáu th√¥ng th∆∞·ªùng:

In [2]:
vpb_prices = stock_prices[stock_prices['Ma CP'] == 'VPB']
vpb_prices

  Ma CP        Ngay  Price
0   VPB  2025-08-14   31.2
1   VPB  2025-08-15   32.5

In [3]:
prices_by_date = stock_prices[stock_prices['Ngay'] == '2025-08-14']
prices_by_date

  Ma CP        Ngay  Price
0   VPB  2025-08-14   31.2
2   TCB  2025-08-14   35.1
4   VNM  2025-08-14   60.5

### **‚ö° V·∫•n ƒë·ªÅ v·ªõi ph∆∞∆°ng ph√°p truy xu·∫•t th√¥ng th∆∞·ªùng**

Nh∆∞ b·∫°n th·∫•y, vi·ªác truy xu·∫•t d·ªØ li·ªáu b·∫±ng boolean indexing c√≥ nh·ªØng h·∫°n ch·∫ø:

- ‚ùå **Code d√†i d√≤ng** v√† kh√≥ ƒë·ªçc
- ‚ùå **T·ªëc ƒë·ªô ch·∫≠m** khi d·ªØ li·ªáu l·ªõn  
- ‚ùå **Kh√≥ t·ªï ch·ª©c** d·ªØ li·ªáu theo nhi·ªÅu chi·ªÅu
- ‚ùå **Kh√≥ th·ª±c hi·ªán** c√°c ph√©p to√°n ph·ª©c t·∫°p

### **üöÄ Gi·∫£i ph√°p: MultiIndex (Ch·ªâ s·ªë ph√¢n c·∫•p)**

MultiIndex s·∫Ω gi√∫p ch√∫ng ta:
- ‚úÖ **Truy xu·∫•t nhanh** b·∫±ng `.loc[]`
- ‚úÖ **T·ªï ch·ª©c logic** d·ªØ li·ªáu theo nhi·ªÅu chi·ªÅu
- ‚úÖ **Code ng·∫Øn g·ªçn** v√† d·ªÖ hi·ªÉu
- ‚úÖ **Hi·ªáu su·∫•t cao** v·ªõi d·ªØ li·ªáu l·ªõn

### **üîç B∆∞·ªõc 3: T·∫°o MultiIndex t·ª´ DataFrame**

In [4]:
stock_prices = stock_prices.set_index(keys=['Ma CP', 'Ngay'])
stock_prices

                  Price
Ma CP Ngay
VPB   2025-08-14   31.2
      2025-08-15   32.5
TCB   2025-08-14   35.1
      2025-08-15   34.0
VNM   2025-08-14   60.5
      2025-08-15   61.3

In [5]:
stock_prices.index

MultiIndex([('VPB', '2025-08-14'),
            ('VPB', '2025-08-15'),
            ('TCB', '2025-08-14'),
            ('TCB', '2025-08-15'),
            ('VNM', '2025-08-14'),
            ('VNM', '2025-08-15')],
           names=['Ma CP', 'Ngay'])

### **üéâ K·∫øt qu·∫£: DataFrame v·ªõi MultiIndex**

B√¢y gi·ªù DataFrame ƒë√£ c√≥ **MultiIndex** v·ªõi 2 c·∫•p:
- **Level 0:** `Ma CP` (M√£ c·ªï phi·∫øu)
- **Level 1:** `Ngay` (Ng√†y)

### **üìä So s√°nh tr∆∞·ªõc v√† sau:**

| **Tr∆∞·ªõc (Boolean Indexing)** | **Sau (MultiIndex)** |
|------------------------------|----------------------|
| `df[df['Ma CP'] == 'VPB']` | `df.loc['VPB']` |
| `df[df['Ngay'] == '2025-08-14']` | `df.xs('2025-08-14', level='Ngay')` |
| Code d√†i, kh√≥ ƒë·ªçc | Code ng·∫Øn, d·ªÖ hi·ªÉu |
| T·ªëc ƒë·ªô ch·∫≠m | T·ªëc ƒë·ªô nhanh |

### **üîç B∆∞·ªõc 4: Kh√°m ph√° c·∫•u tr√∫c MultiIndex**

### **üöÄ Truy xu·∫•t d·ªØ li·ªáu v·ªõi MultiIndex**

B√¢y gi·ªù ch√∫ng ta c√≥ th·ªÉ truy xu·∫•t d·ªØ li·ªáu m·ªôt c√°ch **nhanh ch√≥ng** v√† **linh ho·∫°t**:

#### **üìà V√≠ d·ª• 1: L·∫•y t·∫•t c·∫£ gi√° c·ªßa c·ªï phi·∫øu VPB**

In [6]:
stock_prices.loc['VPB']

            Price
Ngay
2025-08-14   31.2
2025-08-15   32.5

#### **üìÖ V√≠ d·ª• 2: L·∫•y gi√° t·∫•t c·∫£ c·ªï phi·∫øu trong ng√†y 2025-08-14**

In [7]:
stock_prices.xs('2025-08-14', level='Ngay')

       Price
Ma CP
VPB     31.2
TCB     35.1
VNM     60.5

### **‚ö° So s√°nh hi·ªáu su·∫•t: MultiIndex vs Boolean Indexing**

ƒê·ªÉ ch·ª©ng minh s·ª± kh√°c bi·ªát v·ªÅ hi·ªáu su·∫•t, ch√∫ng ta s·∫Ω t·∫°o m·ªôt dataset l·ªõn v√† so s√°nh:

#### **üî¨ Th√≠ nghi·ªám:**
- **Dataset:** 1,000,000 h√†ng d·ªØ li·ªáu
- **Ph∆∞∆°ng ph√°p 1:** Boolean indexing (c√°ch c≈©)
- **Ph∆∞∆°ng ph√°p 2:** MultiIndex (c√°ch m·ªõi)
- **K·∫øt qu·∫£:** MultiIndex **nhanh h∆°n 3-4 l·∫ßn**!

In [8]:
import pandas as pd
import numpy as np

n = 1_000_000
df = pd.DataFrame({
    'Ma CP': np.random.choice(['VPB', 'TCB', 'VNM'], size=n),
    'Ngay': np.random.choice(['2025-08-14','2025-08-15'], size=n),
    'Price': np.random.choice([31.2, 32.5, 35.1, 34.0, 60.5, 61.3], n)
})

%time df[df['Ma CP']=='VPB']

CPU times: user 30.4 ms, sys: 1.67 ms, total: 32.1 ms
Wall time: 33.8 ms

       Ma CP        Ngay  Price
0        VPB  2025-08-14   32.5
2        VPB  2025-08-15   31.2
12       VPB  2025-08-14   60.5
22       VPB  2025-08-15   61.3
25       VPB  2025-08-15   34.0
...      ...         ...    ...
999987   VPB  2025-08-15   34.0
999989   VPB  2025-08-15   31.2
999990   VPB  2025-08-15   32.5
999995   VPB  2025-08-14   35.1
999998   VPB  2025-08-14   31.2

[333600 rows x 3 columns]

In [9]:
df_index = df.set_index(['Ma CP', 'Ngay'])

In [10]:
%time df_index.loc['VPB']

CPU times: user 9.19 ms, sys: 2.51 ms, total: 11.7 ms
Wall time: 11.2 ms

            Price
Ngay
2025-08-14   32.5
2025-08-15   31.2
2025-08-14   60.5
2025-08-15   61.3
2025-08-15   34.0
...           ...
2025-08-15   34.0
2025-08-15   31.2
2025-08-15   32.5
2025-08-14   35.1
2025-08-14   31.2

[333600 rows x 1 columns]

### **üéØ K·∫øt qu·∫£ th√≠ nghi·ªám:**

| **Ph∆∞∆°ng ph√°p** | **Th·ªùi gian** | **Hi·ªáu su·∫•t** |
|-----------------|---------------|---------------|
| Boolean Indexing | ~233ms | Ch·∫≠m |
| MultiIndex | ~82ms | **Nhanh h∆°n 3x** |

### **üí° T·∫°i sao MultiIndex nhanh h∆°n?**

1. **Index ƒë∆∞·ª£c t·ªëi ∆∞u h√≥a:** Pandas t·∫°o c·∫•u tr√∫c d·ªØ li·ªáu ƒë·∫∑c bi·ªát cho vi·ªác t√¨m ki·∫øm
2. **Kh√¥ng c·∫ßn qu√©t to√†n b·ªô:** Ch·ªâ c·∫ßn tra c·ª©u trong index thay v√¨ ki·ªÉm tra t·ª´ng h√†ng
3. **C·∫•u tr√∫c d·ªØ li·ªáu hi·ªáu qu·∫£:** MultiIndex s·ª≠ d·ª•ng hash table v√† tree structure

### **üîß Thay ƒë·ªïi th·ª© t·ª± c√°c ch·ªâ s·ªë ph√¢n c·∫•p**

ƒê√¥i khi ch√∫ng ta mu·ªën thay ƒë·ªïi th·ª© t·ª± c·ªßa c√°c c·∫•p index ƒë·ªÉ truy xu·∫•t d·ªØ li·ªáu d·ªÖ d√†ng h∆°n:

In [11]:
stock_prices.swaplevel(0, 1)

                  Price
Ngay       Ma CP
2025-08-14 VPB     31.2
2025-08-15 VPB     32.5
2025-08-14 TCB     35.1
2025-08-15 TCB     34.0
2025-08-14 VNM     60.5
2025-08-15 VNM     61.3

#### **üîÑ C√°ch kh√°c ƒë·ªÉ l·∫•y gi√° c√°c m√£ c·ªï phi·∫øu c·ªßa m·ªôt ng√†y**

Thay v√¨ s·ª≠ d·ª•ng `xs()`, ch√∫ng ta c√≥ th·ªÉ:
1. **Swap** th·ª© t·ª± index (Ng√†y l√™n level 0)
2. **Truy xu·∫•t** tr·ª±c ti·∫øp b·∫±ng `.loc[]`

In [12]:
stock_prices.swaplevel(0, 1).loc['2025-08-14']

       Price
Ma CP
VPB     31.2
TCB     35.1
VNM     60.5

### **üìä S·∫Øp x·∫øp d·ªØ li·ªáu theo ch·ªâ s·ªë ph√¢n c·∫•p**

V·ªõi MultiIndex, ch√∫ng ta c√≥ th·ªÉ s·∫Øp x·∫øp d·ªØ li·ªáu theo b·∫•t k·ª≥ c·∫•p n√†o:

#### **üîÑ Tr∆∞·ªõc khi s·∫Øp x·∫øp:**

- Tr∆∞·ªõc khi s·∫Øp x·∫øp

In [13]:
print(stock_prices)

                  Price
Ma CP Ngay
VPB   2025-08-14   31.2
      2025-08-15   32.5
TCB   2025-08-14   35.1
      2025-08-15   34.0
VNM   2025-08-14   60.5
      2025-08-15   61.3

#### **üìà S·∫Øp x·∫øp theo M√£ c·ªï phi·∫øu (Level 0):**

In [14]:
stock_prices.sort_index(level=0)

                  Price
Ma CP Ngay
TCB   2025-08-14   35.1
      2025-08-15   34.0
VNM   2025-08-14   60.5
      2025-08-15   61.3
VPB   2025-08-14   31.2
      2025-08-15   32.5

#### **üìÖ S·∫Øp x·∫øp theo Ng√†y (Level 1):**

In [15]:
stock_prices.sort_index(level='Ngay')

                  Price
Ma CP Ngay
TCB   2025-08-14   35.1
VNM   2025-08-14   60.5
VPB   2025-08-14   31.2
TCB   2025-08-15   34.0
VNM   2025-08-15   61.3
VPB   2025-08-15   32.5

### **üìä Th·ªëng k√™ t√≥m t·∫Øt theo c·∫•p**

MultiIndex cho ph√©p ch√∫ng ta th·ª±c hi·ªán c√°c ph√©p to√°n th·ªëng k√™ theo t·ª´ng c·∫•p:

#### **üìà Th·ªëng k√™ chi ti·∫øt theo M√£ c·ªï phi·∫øu:**

In [16]:
stock_prices.groupby(level=0).describe()

      Price
      count   mean       std   min     25%    50%     75%   max
Ma CP
TCB     2.0  34.55  0.777817  34.0  34.275  34.55  34.825  35.1
VNM     2.0  60.90  0.565685  60.5  60.700  60.90  61.100  61.3
VPB     2.0  31.85  0.919239  31.2  31.525  31.85  32.175  32.5

In [17]:
stock_prices.groupby(level='Ma CP').mean()

       Price
Ma CP
TCB    34.55
VNM    60.90
VPB    31.85

---

## **üìä So s√°nh c√°c k·ªπ thu·∫≠t k·∫øt h·ª£p d·ªØ li·ªáu**

ƒê√£ h·ªçc xong c√°c ph∆∞∆°ng ph√°p k·∫øt h·ª£p d·ªØ li·ªáu, h√£y so s√°nh ƒë·ªÉ hi·ªÉu r√µ h∆°n:

| **Ph∆∞∆°ng ph√°p** | **Khi n√†o d√πng** | **∆Øu ƒëi·ªÉm** | **Nh∆∞·ª£c ƒëi·ªÉm** | **V√≠ d·ª•** |
|-----------------|------------------|-------------|----------------|-----------|
| **pandas.merge** | K·∫øt h·ª£p theo kh√≥a chung | Linh ho·∫°t, nhi·ªÅu lo·∫°i join | Ph·ª©c t·∫°p v·ªõi nhi·ªÅu b·∫£ng | Kh√°ch h√†ng + ƒê∆°n h√†ng |
| **pandas.concat** | N·ªëi d·ªØ li·ªáu c√πng c·∫•u tr√∫c | ƒê∆°n gi·∫£n, nhanh | √çt linh ho·∫°t | B√°o c√°o theo th√°ng |
| **combine_first** | ƒêi·ªÅn d·ªØ li·ªáu thi·∫øu | T·ª± ƒë·ªông ƒëi·ªÅn missing | Ch·ªâ cho 2 DataFrame | C·∫≠p nh·∫≠t d·ªØ li·ªáu |

### **ü§î Khi n√†o d√πng g√¨?**

**D√πng merge khi:**
- ‚úÖ C·∫ßn k·∫øt h·ª£p theo kh√≥a chung (ID, m√£ kh√°ch h√†ng)
- ‚úÖ C√≥ quan h·ªá 1-1, 1-nhi·ªÅu, nhi·ªÅu-nhi·ªÅu
- ‚úÖ C·∫ßn ki·ªÉm so√°t lo·∫°i join (inner, left, right, outer)

**D√πng concat khi:**
- ‚úÖ D·ªØ li·ªáu c√≥ c√πng c·∫•u tr√∫c
- ‚úÖ C·∫ßn n·ªëi theo h√†ng ho·∫∑c c·ªôt
- ‚úÖ X·ª≠ l√Ω nhi·ªÅu file c√πng ƒë·ªãnh d·∫°ng

**D√πng combine_first khi:**
- ‚úÖ C·∫ßn ƒëi·ªÅn d·ªØ li·ªáu thi·∫øu
- ‚úÖ C√≥ 2 DataFrame b·ªï sung cho nhau
- ‚úÖ C·∫ßn c·∫≠p nh·∫≠t d·ªØ li·ªáu c≈©

---

## **üìä So s√°nh c√°c k·ªπ thu·∫≠t Reshaping**

| **K·ªπ thu·∫≠t** | **M·ª•c ƒë√≠ch** | **Khi n√†o d√πng** | **∆Øu ƒëi·ªÉm** | **Nh∆∞·ª£c ƒëi·ªÉm** |
|--------------|--------------|------------------|-------------|----------------|
| **melt** | Wide ‚Üí Long | Ph√¢n t√≠ch theo bi·∫øn | Linh ho·∫°t, d·ªÖ ph√¢n t√≠ch | TƒÉng s·ªë h√†ng |
| **pivot** | Long ‚Üí Wide | T·∫°o b√°o c√°o | D·ªÖ ƒë·ªçc, compact | Gi·∫£m t√≠nh linh ho·∫°t |
| **stack** | MultiIndex columns ‚Üí rows | X·ª≠ l√Ω MultiIndex | T·ª± ƒë·ªông, nhanh | Ph·ª©c t·∫°p v·ªõi nhi·ªÅu c·∫•p |
| **unstack** | MultiIndex rows ‚Üí columns | T·∫°o pivot t·ª´ MultiIndex | Linh ho·∫°t v·ªõi MultiIndex | C√≥ th·ªÉ t·∫°o NaN |

### **üéØ Ch·ªçn k·ªπ thu·∫≠t ph√π h·ª£p:**

**melt:**
- ‚úÖ C·∫ßn ph√¢n t√≠ch theo bi·∫øn
- ‚úÖ D·ªØ li·ªáu d·∫°ng wide
- ‚úÖ C·∫ßn groupby theo bi·∫øn

**pivot:**
- ‚úÖ C·∫ßn t·∫°o b√°o c√°o
- ‚úÖ D·ªØ li·ªáu d·∫°ng long
- ‚úÖ C·∫ßn hi·ªÉn th·ªã compact

**stack/unstack:**
- ‚úÖ C√≥ MultiIndex
- ‚úÖ C·∫ßn chuy·ªÉn ƒë·ªïi c·∫•u tr√∫c
- ‚úÖ X·ª≠ l√Ω d·ªØ li·ªáu ph·ª©c t·∫°p

---

---

## **üìä Ph·∫ßn 2: K·∫øt h·ª£p d·ªØ li·ªáu (Data Merging)**

---

### **üéØ T·∫°i sao c·∫ßn k·∫øt h·ª£p d·ªØ li·ªáu?**

Trong th·ª±c t·∫ø, d·ªØ li·ªáu th∆∞·ªùng ƒë∆∞·ª£c l∆∞u tr·ªØ ·ªü nhi·ªÅu n∆°i kh√°c nhau:

- **B·∫£ng kh√°ch h√†ng:** Th√¥ng tin c√° nh√¢n, ƒë·ªãa ch·ªâ
- **B·∫£ng ƒë∆°n h√†ng:** M√£ kh√°ch h√†ng, s·∫£n ph·∫©m, gi√° tr·ªã
- **B·∫£ng s·∫£n ph·∫©m:** Th√¥ng tin chi ti·∫øt s·∫£n ph·∫©m

ƒê·ªÉ ph√¢n t√≠ch to√†n di·ªán, ch√∫ng ta c·∫ßn **k·∫øt h·ª£p** c√°c b·∫£ng n√†y l·∫°i.

### **üîç V√≠ d·ª• th·ª±c t·∫ø: Ph√¢n t√≠ch kh√°ch h√†ng**

Gi·∫£ s·ª≠ b·∫°n l√† nh√† ph√¢n t√≠ch kinh doanh v√† c·∫ßn:
1. **Bi·∫øt kh√°ch h√†ng n√†o** mua nhi·ªÅu nh·∫•t
2. **T√≠nh gi√° tr·ªã trung b√¨nh** m·ªói ƒë∆°n c·ªßa t·ª´ng kh√°ch
3. **Ph√¢n t√≠ch theo gi·ªõi t√≠nh** v√† ƒë·ªô tu·ªïi

### **üîß T·∫°o d·ªØ li·ªáu m·∫´u:**

#### **üë• B·∫£ng 1: Th√¥ng tin kh√°ch h√†ng**

In [18]:
import pandas as pd
data = {
    'Region': ['North','North','North','North','South','South','South','South'],
    'Channel': ['Online','Online','Store','Store','Online','Online','Store','Store'],
    'Year': [2024,2024,2024,2024,2025,2025,2025,2025],
    'Quarter': ['Q1','Q2','Q1','Q2','Q1','Q2','Q1','Q2'],
    'Revenue': [100,130,120,140,90,95,110,115]
}

df = pd.DataFrame(data)
print(df)

  Region Channel  Year Quarter  Revenue
0  North  Online  2024      Q1      100
1  North  Online  2024      Q2      130
2  North   Store  2024      Q1      120
3  North   Store  2024      Q2      140
4  South  Online  2025      Q1       90
5  South  Online  2025      Q2       95
6  South   Store  2025      Q1      110
7  South   Store  2025      Q2      115

- ƒê√°nh ch·ªâ s·ªë ph√¢n c·∫•p theo m·ªôt s·ªë c·ªôt ƒë·ªÉ d·ªÖ d√†ng quan s√°t v√† truy xu·∫•t d·ªØ li·ªáu h∆°n

In [19]:
df.set_index(['Region', 'Channel', 'Year', 'Quarter'])

                             Revenue
Region Channel Year Quarter
North  Online  2024 Q1           100
                    Q2           130
       Store   2024 Q1           120
                    Q2           140
South  Online  2025 Q1            90
                    Q2            95
       Store   2025 Q1           110
                    Q2           115

- Khi ƒë√°nh ch·ªâ s·ªë ph√¢n c·∫•p, m·∫∑c ƒë·ªãnh c√°c c·ªôt ƒë∆∞·ª£c d√πng ƒë√°nh ch·ªâ s·ªë b·ªã lo·∫°i kh·ªèi d·ªØ li·ªáu, n·∫øu mu·ªën gi·ªØ l·∫°i c√°c c·ªôt ƒë√≥:

In [20]:
df2 = df.set_index(['Region', 'Channel', 'Year', 'Quarter'], drop=False)
print(df2)

                            Region Channel  Year Quarter  Revenue
Region Channel Year Quarter
North  Online  2024 Q1       North  Online  2024      Q1      100
                    Q2       North  Online  2024      Q2      130
       Store   2024 Q1       North   Store  2024      Q1      120
                    Q2       North   Store  2024      Q2      140
South  Online  2025 Q1       South  Online  2025      Q1       90
                    Q2       South  Online  2025      Q2       95
       Store   2025 Q1       South   Store  2025      Q1      110
                    Q2       South   Store  2025      Q2      115

In [21]:
df1 = df.set_index(['Region', 'Channel', 'Year', 'Quarter'])
print(df1)
df1.reset_index()

                             Revenue
Region Channel Year Quarter
North  Online  2024 Q1           100
                    Q2           130
       Store   2024 Q1           120
                    Q2           140
South  Online  2025 Q1            90
                    Q2            95
       Store   2025 Q1           110
                    Q2           115

  Region Channel  Year Quarter  Revenue
0  North  Online  2024      Q1      100
1  North  Online  2024      Q2      130
2  North   Store  2024      Q1      120
3  North   Store  2024      Q2      140
4  South  Online  2025      Q1       90
5  South  Online  2025      Q2       95
6  South   Store  2025      Q1      110
7  South   Store  2025      Q2      115

### Ch·ªâ s·ªë ph√¢n c·∫•p cho c·ªôt

ƒê√°nh th√™m ch·ªâ s·ªë ph√¢n c·∫•p cho c·ªôt gi√∫p vi·ªác truy xu·∫•t, x·ª≠ l√Ω d·ªØ li·ªáu ƒë∆∞·ª£c thu·∫≠n ti·ªán h∆°n.

In [22]:
df1 = df.set_index(['Region', 'Channel', 'Year', 'Quarter'])
print(df1)

                             Revenue
Region Channel Year Quarter
North  Online  2024 Q1           100
                    Q2           130
       Store   2024 Q1           120
                    Q2           140
South  Online  2025 Q1            90
                    Q2            95
       Store   2025 Q1           110
                    Q2           115

B∆∞·ªõc 2: Bi·∫øn `Year` v√† `Quarter` th√†nh multi index cho c·ªôt
- `unstack()` ƒë·ªÉ xoay index h√†ng th√†nh c·ªôt

In [23]:
df2 = df1.unstack(['Year', 'Quarter'])
print(df2)

               Revenue
Year              2024          2025
Quarter             Q1     Q2     Q1     Q2
Region Channel
North  Online    100.0  130.0    NaN    NaN
       Store     120.0  140.0    NaN    NaN
South  Online      NaN    NaN   90.0   95.0
       Store       NaN    NaN  110.0  115.0

- S·ª≠ d·ª•ng `stack()` ƒë·ªÉ √©p c·ªôt xu·ªëng th√†nh h√†ng

In [24]:
df3 = df2.stack(['Year', 'Quarter'])
print(df3)

                             Revenue
Region Channel Year Quarter
North  Online  2024 Q1         100.0
                    Q2         130.0
       Store   2024 Q1         120.0
                    Q2         140.0
South  Online  2025 Q1          90.0
                    Q2          95.0
       Store   2025 Q1         110.0
                    Q2         115.0

/var/folders/8x/cphm0p8j0h16x_zm6w8f2nww0000gn/T/ipykernel_64215/4169368457.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df3 = df2.stack(['Year', 'Quarter'])

- Truy xu·∫•t d·ªØ li·ªáu v·ªõi multi-index h√†ng v√† c·ªôt

In [25]:
df2['Revenue', 2025]

Quarter            Q1     Q2
Region Channel
North  Online     NaN    NaN
       Store      NaN    NaN
South  Online    90.0   95.0
       Store    110.0  115.0

In [26]:
df2.loc[('North'), ('Revenue',2024)]

Quarter     Q1     Q2
Channel
Online   100.0  130.0
Store    120.0  140.0

In [27]:
df2.loc[(slice(None),'Online'), ('Revenue',2024)]

Quarter            Q1     Q2
Region Channel
North  Online   100.0  130.0
South  Online     NaN    NaN

## K·∫øt h·ª£p c√°c t·∫≠p d·ªØ li·ªáu
<hr>

D·ªØ li·ªáu th∆∞·ªùng n·∫±m r·∫£i r√°c t·ª´ nhi·ªÅu ngu·ªìn d·ªØ li·ªáu kh√°c nhau, khi ƒë√≥ ch√∫ng ta c·∫ßn gh√©p n·ªëi d·ª± li·ªáu t·ª´ c√°c ngu·ªìn n√†y l·∫°i v·ªõi nhau ƒë·ªÉ ph·ª•c v·ª• qu√° tr√¨nh ph√¢n t√≠ch, x·ª≠ l√Ω d·ªØ li·ªáu. 

Th∆∞ vi·ªán **pandas** cung c·∫•p m·ªôt s·ªë ph∆∞∆°ng ph√°p linh ho·∫°t v√† hi·ªáu qu·∫£ ƒë·ªÉ th·ª±c hi·ªán vi·ªác n√†y, bao g·ªìm:

- **`pandas.merge`**  
  Ph∆∞∆°ng ph√°p n√†y cho ph√©p k·∫øt n·ªëi c√°c h√†ng gi·ªØa hai ho·∫∑c nhi·ªÅu `DataFrame` d·ª±a tr√™n m·ªôt ho·∫∑c nhi·ªÅu kh√≥a chung. C√°ch ti·∫øp c·∫≠n n√†y t∆∞∆°ng t·ª± v·ªõi c√°c thao t√°c *join* trong ng√¥n ng·ªØ truy v·∫•n SQL v√† th∆∞·ªùng ƒë∆∞·ª£c s·ª≠ d·ª•ng trong c√°c h·ªá qu·∫£n tr·ªã c∆° s·ªü d·ªØ li·ªáu quan h·ªá.

- **`pandas.concat`**
  ƒê∆∞·ª£c s·ª≠ d·ª•ng ƒë·ªÉ gh√©p n·ªëi c√°c ƒë·ªëi t∆∞·ª£ng d·ªçc theo m·ªôt tr·ª•c x√°c ƒë·ªãnh (theo h√†ng ho·∫∑c theo c·ªôt). Ph∆∞∆°ng ph√°p n√†y th√≠ch h·ª£p trong c√°c t√¨nh hu·ªëng c·∫ßn k·∫øt h·ª£p d·ªØ li·ªáu c√≥ c√πng c·∫•u tr√∫c.

- **`combine_first`** 
  D√πng ƒë·ªÉ k·∫øt h·ª£p hai ƒë·ªëi t∆∞·ª£ng c√≥ c·∫•u tr√∫c t∆∞∆°ng t·ª±, trong ƒë√≥ c√°c gi√° tr·ªã b·ªã thi·∫øu (*missing values*) trong m·ªôt ƒë·ªëi t∆∞·ª£ng s·∫Ω ƒë∆∞·ª£c ƒëi·ªÅn b·ªüi c√°c gi√° tr·ªã t∆∞∆°ng ·ª©ng t·ª´ ƒë·ªëi t∆∞·ª£ng c√≤n l·∫°i. ƒê√¢y l√† ph∆∞∆°ng ph√°p h·ªØu √≠ch trong vi·ªác l√†m s·∫°ch v√† b·ªï sung d·ªØ li·ªáu.

### pandas.merge: G·ªôp v√† n·ªëi d·ªØ li·ªáu

#### T·∫°i sao?

X√©t v√≠ d·ª• v·ªÅ d·ªØ li·ªáu kh√°ch h√†ng nh∆∞ sau:
- B·∫£ng 1: L∆∞u th√¥ng tin kh√°ch h√†ng, g·ªìm: m√£ kh√°ch h√†ng, t√™n kh√°ch h√†ng, gi·ªõi t√≠nh, nƒÉm sinh
- B·∫£ng 2: L∆∞u th√¥ng tin giao d·ªãch c·ªßa kh√°ch h√†ng, g·ªìm: m√£ ƒë∆°n h√†ng, m√£ kh√°ch h√†ng, gi√° tr·ªã ƒë∆°n h√†ng

Ch√∫ng ta c·∫ßn ph√¢n t√≠ch xem kh√°ch h√†ng n√†o mua nhi·ªÅu, gi√° tr·ªã trung b√¨nh m·ªói ƒë∆°n c·ªßa t·ª´ng kh√°ch l√† bao nhi√™u,...

In [28]:
import pandas as pd
customers = pd.DataFrame({ 
                          'code': ['001', '002', '003', '004'],
                          'name': ['Hoa', 'H√πng', 'Linh', 'An'],
                          'gender': ['N·ªØ', 'Nam', 'N·ªØ', 'N·ªØ'],
                          'birthYear': [1985, 1999, 2001, 2005],
                          })
print(customers)

  code  name gender  birthYear
0  001   Hoa     N·ªØ       1985
1  002  H√πng    Nam       1999
2  003  Linh     N·ªØ       2001
3  004    An     N·ªØ       2005

In [29]:
orders = pd.DataFrame({
    'order_number': [100, 101, 102, 103, 104],
    'customer_code': ['001', '002', '001', '003', '001'],
    'amount': [120_000, 245_000, 150_000, 340_000, 230_000]
})
print(orders)

   order_number customer_code  amount
0           100           001  120000
1           101           002  245000
2           102           001  150000
3           103           003  340000
4           104           001  230000

L√†m sao bi·∫øt kh√°ch h√†ng t√™n `Hoa` ƒë√£ mua bao nhi√™u ƒë∆°n?, gi√° tr·ªã trung b√¨nh ƒë∆°n h√†ng l√† bao nhi√™u?

#### K·∫øt h·ª£p d·ªØ li·ªáu trong **pandas**

In [30]:
merged = pd.merge(orders, customers, left_on='customer_code', right_on='code', how='inner')
print(merged)

   order_number customer_code  amount code  name gender  birthYear
0           100           001  120000  001   Hoa     N·ªØ       1985
1           101           002  245000  002  H√πng    Nam       1999
2           102           001  150000  001   Hoa     N·ªØ       1985
3           103           003  340000  003  Linh     N·ªØ       2001
4           104           001  230000  001   Hoa     N·ªØ       1985

Kh√¥ng th·∫•y kh√°ch h√†ng t√™n `An` trong b·∫£ng t·ªïng h·ª£p?

In [31]:
merged_outer = pd.merge(orders, customers, left_on='customer_code', right_on='code', how='outer')
print(merged_outer)

   order_number customer_code    amount code  name gender  birthYear
0         100.0           001  120000.0  001   Hoa     N·ªØ       1985
1         102.0           001  150000.0  001   Hoa     N·ªØ       1985
2         104.0           001  230000.0  001   Hoa     N·ªØ       1985
3         101.0           002  245000.0  002  H√πng    Nam       1999
4         103.0           003  340000.0  003  Linh     N·ªØ       2001
5           NaN           NaN       NaN  004    An     N·ªØ       2005

**B·∫£ng c√°c gi√° tr·ªã kh√°c nhau v·ªõi ƒë·ªëi s·ªë `how`**

| T√πy ch·ªçn      | H√†nh vi                                                                 |
|---------------|-------------------------------------------------------------------------|
| `how="inner"` | Ch·ªâ s·ª≠ d·ª•ng c√°c t·ªï h·ª£p kh√≥a ƒë∆∞·ª£c quan s√°t th·∫•y trong c·∫£ hai b·∫£ng           |
| `how="left"`  | S·ª≠ d·ª•ng t·∫•t c·∫£ c√°c t·ªï h·ª£p kh√≥a ƒë∆∞·ª£c t√¨m th·∫•y trong b·∫£ng b√™n tr√°i            |
| `how="right"` | S·ª≠ d·ª•ng t·∫•t c·∫£ c√°c t·ªï h·ª£p kh√≥a ƒë∆∞·ª£c t√¨m th·∫•y trong b·∫£ng b√™n ph·∫£i           |
| `how="outer"` | S·ª≠ d·ª•ng t·∫•t c·∫£ c√°c t·ªï h·ª£p kh√≥a ƒë∆∞·ª£c quan s√°t th·∫•y trong c·∫£ hai b·∫£ng c√πng nhau |

#### Ph√©p g·ªôp nhi·ªÅu-nhi·ªÅu (many-to-many)

- Th·∫ø n√†o l√† quan h·ªá nhi·ªÅu-nhi·ªÅu (many-to-many)?
- X√©t v√≠ d·ª• sau:
    - M·ªôt kh√°ch h√†ng mua nhi·ªÅu s·∫£n ph·∫©m
    - M·ªôt kh√°ch  h√†ng th√≠ch nhi·ªÅu s·∫£n ph·∫©m

In [32]:
purchases = pd.DataFrame({
    'customer': ['Alice','Alice','Bob','Charlie','Charlie'],
    'product_purchased': ['Laptop','Mouse','Tablet','Phone','Mouse']
})

print(purchases)

  customer product_purchased
0    Alice            Laptop
1    Alice             Mouse
2      Bob            Tablet
3  Charlie             Phone
4  Charlie             Mouse

In [33]:
favorites = pd.DataFrame({
    'customer': ['Alice','Bob','Alice','Charlie'],
    'favorite_product': ['Keyboard','Mouse','Monitor','Laptop']
})

print(favorites)

  customer favorite_product
0    Alice         Keyboard
1      Bob            Mouse
2    Alice          Monitor
3  Charlie           Laptop

C·∫ßn th·∫•y quan h·ªá gi·ªØa s·∫£n ph·∫©m ƒë√£ mua v√† s·∫£n ph·∫©m y√™u th√≠ch:
- Ph√°t hi·ªán s·∫£n ph·∫©m kh√°ch ch∆∞a mua 
- D·ª± ƒëo√°n nhu c·∫ßu -> x√¢y d·ª±ng ch∆∞∆°ng tr√¨nh khuy·∫øn m·∫°i

In [34]:
purchases_favorite = pd.merge(purchases, favorites, on='customer', how='inner')
print(purchases_favorite)

  customer product_purchased favorite_product
0    Alice            Laptop         Keyboard
1    Alice            Laptop          Monitor
2    Alice             Mouse         Keyboard
3    Alice             Mouse          Monitor
4      Bob            Tablet            Mouse
5  Charlie             Phone           Laptop
6  Charlie             Mouse           Laptop

T·ª´ k·∫øt qu·∫£ n√†y cho th·∫•y: `Alice` ƒë√£ mua Laptop v√† Mouse r·ªìi, m√† b√†n ph√≠m v√† m√†n h√¨nh ƒëang trong danh s√°ch y√™u th√≠ch c·ªßa b·∫°n ·∫•y, n√™n kh·∫£ nƒÉng cao b·∫°n ·∫•y s·∫Ω mua c√°c s·∫£n ph·∫©m n√†y.

**B·∫£ng c√°c tham s·ªë c·ªßa h√†m `pandas.merge`**

| ƒê·ªëi s·ªë        | M√¥ t·∫£                                                                                                                                                             |
|---------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `left`        | DataFrame ƒë∆∞·ª£c g·ªôp ·ªü ph√≠a b√™n tr√°i.                                                                                                                                |
| `right`       | DataFrame ƒë∆∞·ª£c g·ªôp ·ªü ph√≠a b√™n ph·∫£i.                                                                                                                                |
| `how`         | Lo·∫°i join ƒë·ªÉ √°p d·ª•ng: m·ªôt trong s·ªë `"inner"`, `"outer"`, `"left"`, ho·∫∑c `"right"`; m·∫∑c ƒë·ªãnh l√† `"inner"`.                                                               |
| `on`          | T√™n c·ªôt ƒë·ªÉ join. Ph·∫£i ƒë∆∞·ª£c t√¨m th·∫•y trong c·∫£ hai ƒë·ªëi t∆∞·ª£ng DataFrame. N·∫øu kh√¥ng ƒë∆∞·ª£c ch·ªâ ƒë·ªãnh v√† kh√¥ng c√≥ kh√≥a join n√†o kh√°c ƒë∆∞·ª£c cung c·∫•p, s·∫Ω s·ª≠ d·ª•ng giao ƒëi·ªÉm c·ªßa c√°c t√™n c·ªôt trong `left` v√† `right` l√†m kh√≥a join. |
| `left_on`     | C√°c c·ªôt trong DataFrame `left` ƒë·ªÉ s·ª≠ d·ª•ng l√†m kh√≥a join. C√≥ th·ªÉ l√† m·ªôt t√™n c·ªôt duy nh·∫•t ho·∫∑c m·ªôt danh s√°ch c√°c t√™n c·ªôt.                                                     |
| `right_on`    | T∆∞∆°ng t·ª± nh∆∞ `left_on` cho DataFrame `right`.                                                                                                                       |
| `left_index`  | S·ª≠ d·ª•ng ch·ªâ m·ª•c h√†ng trong `left` l√†m kh√≥a join c·ªßa n√≥ (ho·∫∑c c√°c kh√≥a, n·∫øu l√† `MultiIndex`).                                                                          |
| `right_index` | T∆∞∆°ng t·ª± nh∆∞ `left_index`.                                                                                                                                          |
| `sort`        | S·∫Øp x·∫øp d·ªØ li·ªáu ƒë√£ g·ªôp theo th·ª© t·ª± t·ª´ ƒëi·ªÉn b·∫±ng c√°c kh√≥a join; `False` theo m·∫∑c ƒë·ªãnh.                                                                                |
| `suffixes`    | Tuple c√°c gi√° tr·ªã chu·ªói ƒë·ªÉ n·ªëi v√†o t√™n c·ªôt trong tr∆∞·ªùng h·ª£p ch·ªìng ch√©o; m·∫∑c ƒë·ªãnh l√† `("_x", "_y")` (v√≠ d·ª•: n·∫øu "data" c√≥ trong c·∫£ hai ƒë·ªëi t∆∞·ª£ng DataFrame, s·∫Ω xu·∫•t hi·ªán d∆∞·ªõi d·∫°ng "data_x" v√† "data_y" trong k·∫øt qu·∫£). |
| `copy`        | N·∫øu `False`, tr√°nh sao ch√©p d·ªØ li·ªáu v√†o c·∫•u tr√∫c d·ªØ li·ªáu k·∫øt qu·∫£ trong m·ªôt s·ªë tr∆∞·ªùng h·ª£p ngo·∫°i l·ªá; theo m·∫∑c ƒë·ªãnh lu√¥n sao ch√©p.                                       |
| `validate`    | X√°c minh xem ph√©p g·ªôp c√≥ thu·ªôc lo·∫°i ƒë∆∞·ª£c ch·ªâ ƒë·ªãnh hay kh√¥ng, cho d√π l√† m·ªôt-m·ªôt, m·ªôt-nhi·ªÅu, hay nhi·ªÅu-nhi·ªÅu. Xem docstring ƒë·ªÉ bi·∫øt chi ti·∫øt ƒë·∫ßy ƒë·ªß v·ªÅ c√°c t√πy ch·ªçn.     |
| `indicator`   | Th√™m m·ªôt c·ªôt ƒë·∫∑c bi·ªát `_merge` ch·ªâ ra ngu·ªìn c·ªßa m·ªói h√†ng; c√°c gi√° tr·ªã s·∫Ω l√† `"left_only"`, `"right_only"`, ho·∫∑c `"both"` d·ª±a tr√™n ngu·ªìn g·ªëc c·ªßa d·ªØ li·ªáu ƒë∆∞·ª£c join trong m·ªói h√†ng. |

### K·∫øt h·ª£p d·ªØ li·ªáu d·ª±a tr√™n ch·ªâ s·ªë
<hr>

Trong m·ªôt s·ªë tr∆∞·ªùng h·ª£p, c√°c kh√≥a d√πng ƒë·ªÉ k·∫øt h·ª£p d·ªØ li·ªáu DataFrame kh√¥ng ph·∫£i l√† c·ªôt m√† l√† ch·ªâ s·ªë h√†ng. Trong tr∆∞·ªùng h·ª£p n√†y ch√∫ng ta s·∫Ω th·ª±c hi·ªán k·∫øt h·ª£p theo ch·ªâ s·ªë, s·ª≠ d·ª•ng c√°c ƒë·ªëi s·ªë `left_index=True` ho·∫∑c `right_index=True` (ho·∫∑c c·∫£ hai) ƒë·ªÉ ch·ªâ ra r·∫±ng ch·ªâ s·ªë ƒë∆∞·ª£c s·ª≠ d·ª•ng l√†m kh√≥a:

In [35]:
customers = pd.DataFrame({
    'customer_code': ['C001','C002','C003'],
    'name': ['Alice','Bob','Charlie'],
    'city': ['Hanoi','Saigon','Danang']
}).set_index('customer_code')
print(customers)

                  name    city
customer_code
C001             Alice   Hanoi
C002               Bob  Saigon
C003           Charlie  Danang

In [36]:
orders = pd.DataFrame({
    'order_id': [101,102,103,104],
    'customer_code': ['C001','C002','C002','C003'],
    'amount': [250,150,300,200]
}).set_index('order_id')

print(orders)

         customer_code  amount
order_id
101               C001     250
102               C002     150
103               C002     300
104               C003     200

In [37]:
orders_customers = pd.merge(orders, customers, left_on='customer_code', right_index=True)
print(orders_customers)

         customer_code  amount     name    city
order_id
101               C001     250    Alice   Hanoi
102               C002     150      Bob  Saigon
103               C002     300      Bob  Saigon
104               C003     200  Charlie  Danang

**L∆∞u √Ω**

Khi th·ª±c hi·ªán k·∫øt h·ª£p d·ªØ li·ªáu d·ª±a v√†o ch·ªâ s·ªë s·∫Ω tƒÉng t·ªëc ƒë·ªô l√™n nhi·ªÅu l·∫ßn, v√¨ sao? code th·ª≠?

### N·ªëi d·ªØ li·ªáu theo m·ªôt tr·ª•c
<hr>

D·ªØ li·ªáu th·ª±c t·∫ø c√≥ th·ªÉ b·ªã chia nh·ªè, l∆∞u tr·ªØ t√°ch bi·ªát; v√≠ d·ª•:
- Thu th·∫≠p th√¥ng tin kh√°ch h√†ng ƒë∆∞·ª£c th·ª±c hi·ªán b·ªüi c√°c nh√¢n vi√™n kh√°c nhau
- D·ªØ li·ªáu b√°n h√†ng, kh√°ch h√†ng c·ªßa c√°c ƒë·∫°i l√Ω

Khi ƒë√≥ ƒë·ªÉ c√≥ d·ªØ li·ªáu ho√†n ch·ªânh, ƒë·∫ßy ƒë·ªß th√¨ ch√∫ng ta c·∫ßn n·ªëi d·ªØ li·ªáu l·∫°i v·ªõi nhau theo d√≤ng (axis = 0) ho·∫∑c theo c·ªôt (axis = 1)

#### N·ªëi d·ªØ li·ªáu theo d√≤ng
- Gi·∫£i s·ª≠ c√≥ d·ªØ li·ªáu b√°n h√†ng c·ªßa m·ªói ƒë·∫°i l√Ω
- C·∫ßn t·ªïng h·ª£p l·∫°i th√†nh m·ªôt d·ªØ li·ªáu b√°n h√†ng th·ªëng nh·∫•t c·ªßa t·∫•t c·∫£ ƒë·∫°i l√Ω

In [38]:
import pandas as pd

# ƒê·∫°i l√Ω H√† N·ªôi
sales_hanoi = pd.DataFrame({
    'product': ['Laptop', 'Mouse'],
    'quantity': [2, 5],
    'unit_price': [1200, 20],
})
sales_hanoi['amount'] = sales_hanoi['quantity'] * sales_hanoi['unit_price']
sales_hanoi['branch'] = 'Hanoi'

# ƒê·∫°i l√Ω S√†i G√≤n
sales_saigon = pd.DataFrame({
    'product': ['Laptop', 'Keyboard'],
    'quantity': [1, 3],
    'unit_price': [1250, 30],
})
sales_saigon['amount'] = sales_saigon['quantity'] * sales_saigon['unit_price']
sales_saigon['branch'] = 'Saigon'

# ƒê·∫°i l√Ω ƒê√† N·∫µng
sales_danang = pd.DataFrame({
    'product': ['Monitor', 'Mouse'],
    'quantity': [2, 4],
    'unit_price': [200, 18],
})
sales_danang['amount'] = sales_danang['quantity'] * sales_danang['unit_price']
sales_danang['branch'] = 'Danang'

In [39]:
print(sales_hanoi)

  product  quantity  unit_price  amount branch
0  Laptop         2        1200    2400  Hanoi
1   Mouse         5          20     100  Hanoi

In [40]:
print(sales_saigon)

    product  quantity  unit_price  amount  branch
0    Laptop         1        1250    1250  Saigon
1  Keyboard         3          30      90  Saigon

In [41]:
print(sales_danang)

   product  quantity  unit_price  amount  branch
0  Monitor         2         200     400  Danang
1    Mouse         4          18      72  Danang

- **B√†i to√°n:** T√¨m xem s·∫£n ph·∫©m n√†o b√°n ch·∫°y nh·∫•t tr√™n to√†n h·ªá th·ªëng, t·ª∑ tr·ªçng doanh thu t·ª´ng s·∫£n ph·∫©m?

**B∆∞·ªõc 1:** T·ªïng h·ª£p d·ªØ li·ªáu b√°n h√†ng tr√™n c√°c ƒë·∫°i l√Ω

In [42]:
all_sales = pd.concat([sales_hanoi, sales_saigon, sales_danang], axis=0)
print(all_sales)

    product  quantity  unit_price  amount  branch
0    Laptop         2        1200    2400   Hanoi
1     Mouse         5          20     100   Hanoi
0    Laptop         1        1250    1250  Saigon
1  Keyboard         3          30      90  Saigon
0   Monitor         2         200     400  Danang
1     Mouse         4          18      72  Danang

**B∆∞·ªõc 2:** √Åp d·ª•ng t√≠nh to√°n t·ªïng h·ª£p tr√™n d·ªØ li·ªáu g·ªôp

In [43]:
all_sales_indexed = all_sales.set_index(['branch', 'product'])
print(all_sales_indexed)

                 quantity  unit_price  amount
branch product
Hanoi  Laptop           2        1200    2400
       Mouse            5          20     100
Saigon Laptop           1        1250    1250
       Keyboard         3          30      90
Danang Monitor          2         200     400
       Mouse            4          18      72

In [44]:
total_qty_by_product = all_sales_indexed.groupby('product')['quantity'].sum()
print(total_qty_by_product)

product
Keyboard    3
Laptop      3
Monitor     2
Mouse       9
Name: quantity, dtype: int64

In [45]:
total_revenue = all_sales_indexed['amount'].sum()

# T·ª∑ tr·ªçng doanh s·ªë theo chi nh√°nh
share_by_branch = all_sales_indexed.groupby('branch')['amount'].sum()/total_revenue * 100
print(share_by_branch)

print('-'*30)
# T·ª∑ tr·ªçng doanh s·ªë theo s·∫£n ph·∫©m
share_by_product = all_sales_indexed.groupby('product')['amount'].sum()/total_revenue * 100
print(share_by_product)

branch
Danang    10.946197
Hanoi     57.977737
Saigon    31.076067
Name: amount, dtype: float64
------------------------------
product
Keyboard     2.087199
Laptop      84.647495
Monitor      9.276438
Mouse        3.988868
Name: amount, dtype: float64

#### N·ªëi d·ªØ li·ªáu theo c·ªôt
- D√πng khi nhi·ªÅu b·∫£ng ch·ª©a c√°c th√¥ng tin kh√°c nhau v·ªÅ c√πng ƒë·ªëi t∆∞·ª£ng. 
- V√≠ d·ª•:
       - B·ªô ph·∫≠n chƒÉm s√≥c kh√°ch h√†ng c√≥ th√¥ng tin kh√°ch h√†ng: T√™n, gi·ªõi t√≠nh, tu·ªïi
       - B·ªô ph·∫≠n kinh doanh: t·ªïng chi ti√™u c·ªßa kh√°ch h√†ng, s·ªë ƒë∆°n, t·∫ßn su·∫•t mua h√†ng 
       - B·ªô ph·∫≠n t√†i ch√≠nh: th√¥ng tin v·ªÅ ƒëi·ªÉm t√≠n d·ª•ng, l·ªãch s·ª≠ n·ª£/tr·∫£
- ƒê·ªÉ c√≥ ƒë∆∞·ª£c th√¥ng tin ƒë·∫ßy ƒë·ªß v·ªÅ t·ª´ng kh√°ch h√†ng th√¨ c·∫ßn n·ªëi c√°c th√¥ng tin n√†y l·∫°i.

In [46]:
customers = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'Anna'],
    'gener': [1, 1, 0, 0],
    'age': [20, 30, 40, 24]
}, index=[1, 2, 3, 4])
print(customers)

      name  gener  age
1    Alice      1   20
2      Bob      1   30
3  Charlie      0   40
4     Anna      0   24

In [47]:
purchases = pd.DataFrame({
    'total_spent': [5000, 2000, 3000]
}, index=[3, 4, 2])

print(purchases)

   total_spent
3         5000
4         2000
2         3000

In [48]:
scores = pd.DataFrame({
    'credit_score': [650, 720, 700]
}, index=[2, 3, 1])
print(scores)

   credit_score
2           650
3           720
1           700

- T·ªïng h·ª£p d·ªØ li·ªáu b·∫±ng n·ªëi c·ªôt

In [49]:
customer_info = pd.concat([customers, purchases, scores],  axis=1)
print(customer_info)

      name  gener  age  total_spent  credit_score
1    Alice      1   20          NaN         700.0
2      Bob      1   30       3000.0         650.0
3  Charlie      0   40       5000.0         720.0
4     Anna      0   24       2000.0           NaN

**B·∫£ng c√°c tham s·ªë c·ªßa h√†m `pandas.concat`**

| ƒê·ªëi s·ªë             | M√¥ t·∫£                                                                                                                                                              |
|--------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `objs`             | Danh s√°ch ho·∫∑c t·ª´ ƒëi·ªÉn c√°c ƒë·ªëi t∆∞·ª£ng pandas c·∫ßn n·ªëi; ƒë√¢y l√† ƒë·ªëi s·ªë b·∫Øt bu·ªôc duy nh·∫•t.                                                                                 |
| `axis`             | Tr·ª•c ƒë·ªÉ n·ªëi d·ªçc theo; m·∫∑c ƒë·ªãnh l√† n·ªëi d·ªçc theo h√†ng (`axis="index"`).                                                                                                |
| `join`             | Ho·∫∑c `"inner"` ho·∫∑c `"outer"` (`"outer"` theo m·∫∑c ƒë·ªãnh); li·ªáu c√≥ l·∫•y giao ƒëi·ªÉm (inner) hay h·ª£p (outer) c√°c ch·ªâ s·ªë d·ªçc theo c√°c tr·ª•c kh√°c.                                |
| `keys`             | C√°c gi√° tr·ªã ƒë·ªÉ li√™n k·∫øt v·ªõi c√°c ƒë·ªëi t∆∞·ª£ng ƒëang ƒë∆∞·ª£c n·ªëi, t·∫°o th√†nh m·ªôt ch·ªâ s·ªë ph√¢n c·∫•p d·ªçc theo tr·ª•c n·ªëi; c√≥ th·ªÉ l√† m·ªôt danh s√°ch ho·∫∑c m·∫£ng c√°c gi√° tr·ªã t√πy √Ω, m·ªôt m·∫£ng c√°c tuple, ho·∫∑c m·ªôt danh s√°ch c√°c m·∫£ng (n·∫øu nhi·ªÅu m·∫£ng c·∫•p ƒë∆∞·ª£c truy·ªÅn v√†o `levels`). || `levels`           | C√°c ch·ªâ m·ª•c c·ª• th·ªÉ ƒë·ªÉ s·ª≠ d·ª•ng l√†m c·∫•p ho·∫∑c c√°c c·∫•p ch·ªâ m·ª•c ph√¢n c·∫•p n·∫øu `keys` ƒë∆∞·ª£c truy·ªÅn.                                                                            |
| `names`            | T√™n cho c√°c c·∫•p ph√¢n c·∫•p ƒë∆∞·ª£c t·∫°o n·∫øu `keys` v√†/ho·∫∑c `levels` ƒë∆∞·ª£c truy·ªÅn.                                                                                             |
| `verify_integrity` | Ki·ªÉm tra tr·ª•c m·ªõi trong ƒë·ªëi t∆∞·ª£ng ƒë∆∞·ª£c n·ªëi xem c√≥ tr√πng l·∫∑p kh√¥ng v√† ƒë∆∞a ra m·ªôt ngo·∫°i l·ªá n·∫øu c√≥; theo m·∫∑c ƒë·ªãnh (`False`) cho ph√©p tr√πng l·∫∑p.                             |
| `ignore_index`     | Kh√¥ng b·∫£o to√†n c√°c ch·ªâ s·ªë d·ªçc theo tr·ª•c n·ªëi, thay v√†o ƒë√≥ t·∫°o ra m·ªôt ch·ªâ s·ªë `range(total_length)` m·ªõi.                                                                   |

## T·ªï ch·ª©c v√† C·∫•u tr√∫c l·∫°i d·ªØ li·ªáu
<hr>

- Khi l√†m v·ªõi d·ªØ li·ªáu, t·ªï ch·ª©c v√† c·∫•u tr√∫c l·∫°i d·ªØ li·ªáu (reshaping) l√† m·ªôt k·ªπ thu·∫≠t quan tr·ªçng nh·∫±m gi√∫p cho vi·ªác ph√¢n t√≠ch v√† tr·ª±c quan h√≥a d·ªØ li·ªáu ƒë∆∞·ª£c d·ªÖ d√†ng h∆°n. M·ª•c ƒë√≠ch c·ªßa reshaping l√† ƒë·ªÉ chuy·ªÉn ƒë·ªïi bi·ªÉu di·ªÖn hay h√¨nh d·∫°ng (shape) c·ªßa d·ªØ li·ªáu m√† kh√¥ng l√†m thay ƒë·ªïi b·∫£n ch·∫•t c·ªßa d·ªØ li·ªáu ƒë√≥. C√≥ 2 ki·ªÉu bi·ªÉu di·ªÖn d·ªØ li·ªáu nh∆∞ sau:
    -  D·∫°ng r·ªông (wide): 
        - M·ªói ƒë·ªëi t∆∞·ª£ng l√† m·ªôt d√≤ng, m·ªói thu·ªôc t√≠nh l√† m·ªôt c·ªôt.
        - V√≠ d·ª•, d·ªØ li·ªáu ƒëi·ªÉm sinh vi√™n, m·ªói sinh vi√™n m·ªôt d√≤ng, c√°c c·ªôt l√† th√¥ng tin v·ªÅ sinh vi√™n v√† ƒëi·ªÉm c√°c m√¥n.
        - Th∆∞·ªùng g·∫∑p ·ªü ƒë√¢u? t·ª´ c√°c h·ªá th·ªëng ph·∫ßn m·ªÅm qu·∫£n l√Ω, b·∫£ng excel, c√°c b·∫£ng b√°o c√°o k·∫øt qu·∫£
        - D√πng cho: b√°o c√°o, nh·∫≠p li·ªáu, tr√¨nh b√†y
    - D·∫°ng d√†i (long): 
        - M·ªói quan s√°t l√† m·ªôt d√≤ng, v√† c·ªôt l√† gi√° tr·ªã c·ªßa quan s√°t ƒë√≥.
        - V√≠ d·ª•: gi√° c·ªï phi·∫øu theo ng√†y
        - Th∆∞·ªùng g·∫∑p ·ªü ƒë√¢u? D·ªØ li·ªáu li√™n quan ƒë·∫øn chu·ªói th·ªùi gian, ghi nh·∫≠n c√°c quan s√°t li√™n t·ª•c,...
        - D√πng cho: ph√¢n t√≠ch, h·ªçc m√°y, th·ªëng k√™, tr·ª±c quan h√≥a

- Sau ƒë√¢y ch√∫ng ta s·∫Ω t√¨m hi·ªÉu chi ti·∫øt hai k·ªπ thu·∫≠t r·∫•t quan tr·ªçng n√†y.

### Chuy·ªÉn ƒë·ªïi t·ª´ d·∫°ng `wide` sang `long`

- V√≠ d·ª•: 
    - D·ªØ li·ªáu: Ch√∫ng ta c√≥ d·ªØ li·ªáu s·ªë l∆∞·ª£ng ƒë∆°n h√†ng c·ªßa c√°c c·ª≠a h√†ng ·ªü c√°c th√†nh ph·ªë kh√°c nhau.
    - Y√™u c·∫ßu: T√≠nh trung b√¨nh l∆∞·ª£ng theo th√°ng to√†n h·ªá th·ªëng

In [50]:
import pandas as pd

data = {
    'City': ['H√† N·ªôi', 'TP.HCM', 'ƒê√† N·∫µng'],
    'Thang 1': [500, 700, 300],
    'Thang 2': [600, 800, 350],
    'Thang 3': [550, 750, 400]
}
df = pd.DataFrame(data)

print(df)

      City  Thang 1  Thang 2  Thang 3
0   H√† N·ªôi      500      600      550
1   TP.HCM      700      800      750
2  ƒê√† N·∫µng      300      350      400

- T√≠nh trung b√¨nh l∆∞·ª£ng ƒë∆°n h√†ng theo th√°ng to√†n h·ªá th·ªëng:
    - T·∫°i sao ph·∫£i chuy·ªÉn ƒë·ªïi: M·ªói th√°ng 1 c·ªôt n√™n kh√≥ ƒë·ªÉ groupby theo Th√°ng
    - C·∫ßn chuy·ªÉn ƒë√¥i sang d·∫°ng `long` v·ªõi c·ªôt **Th√°ng**

In [51]:
df_long = df.melt(id_vars=['City'], value_vars=['Thang 1', 'Thang 2', 'Thang 3'], var_name='Month', value_name='NBOrders')
print(df_long)

      City    Month  NBOrders
0   H√† N·ªôi  Thang 1       500
1   TP.HCM  Thang 1       700
2  ƒê√† N·∫µng  Thang 1       300
3   H√† N·ªôi  Thang 2       600
4   TP.HCM  Thang 2       800
5  ƒê√† N·∫µng  Thang 2       350
6   H√† N·ªôi  Thang 3       550
7   TP.HCM  Thang 3       750
8  ƒê√† N·∫µng  Thang 3       400

In [52]:
df_long.groupby('Month')['NBOrders'].mean()

Month
Thang 1    500.000000
Thang 2    583.333333
Thang 3    566.666667
Name: NBOrders, dtype: float64

### Chuy·ªÉn ƒë·ªïi t·ª´ d·∫°ng long sang wide

V√≠ d·ª•: theo d√µi ch·∫•m c√¥ng nh√¢n vi√™n h√†ng ng√†y
- H√†ng ng√†y ghi nh·∫≠n s·ªë gi·ªù l√†m vi·ªác c·ªßa t·ª´ng nh√¢n vi√™n
- G·ª≠i b√°o c√°o cho qu·∫£n l√Ω sao cho d·ªÖ d√†ng theo d√µi, bi·∫øt ƒë∆∞·ª£c th·ªùi gian l√†m vi·ªác c·ªßa t·ª´ng nh√¢n vi√™n trong tu·∫ßn, th√°ng

In [53]:
import pandas as pd

df_long = pd.DataFrame({
    "Employee": ["An", "B√¨nh", "An", "B√¨nh"],
    "Date": ["2025-08-01", "2025-08-01", "2025-08-02", "2025-08-02"],
    "Hours": [8, 6, 7, 8]
})

print(df_long)

  Employee        Date  Hours
0       An  2025-08-01      8
1     B√¨nh  2025-08-01      6
2       An  2025-08-02      7
3     B√¨nh  2025-08-02      8

- B√°o c√°o ch·∫•m c√¥ng c·∫ßn d·ªÖ nh√¨n h∆°n, c√≥ th·ªÉ th·∫•y ngay m·ªói nh√¢n vi√™n l√†m bao nhi·ªÅu gi·ªù m·ªói ng√†y
    - Chuy·ªÉn t·ª´ d·∫°ng **long** sang d·∫°ng **wide** b·∫±ng c√°ch d√πng h√†m **pivot**

In [54]:
df_wide = df_long.pivot(index="Employee", columns="Date", values="Hours")

df_wide['total_hours'] = df_wide.sum(axis=1)
print(df_wide)

Date      2025-08-01  2025-08-02  total_hours
Employee
An                 8           7           15
B√¨nh               6           8           14

### Reshaping l·∫°i d·ªØ li·ªáu khi c√≥ ch·ªâ s·ªë ph√¢n c·∫•p

Khi l√†m vi·ªác v·ªõi DataFrame c√≥ ch·ªâ s·ªë ph√¢n c·∫•p, ta c√≥ th·ªÉ reshaping d·ªØ li·ªáu m·ªôt c√°ch linh ho·∫°t nh·ªù hai thao t√°c ch√≠nh:

* stack: ‚Äún√©n‚Äù m·ªôt c·∫•p c·ªôt xu·ªëng th√†nh ch·ªâ s·ªë h√†ng. Th∆∞·ªùng d√πng ƒë·ªÉ chuy·ªÉn d·ªØ li·ªáu t·ª´ d·∫°ng **wide** sang d·∫°ng **long**.
* unstack: ‚Äúgi·∫£i n√©n‚Äù m·ªôt c·∫•p ch·ªâ s·ªë h√†ng th√†nh c·ªôt. Th∆∞·ªùng d√πng ƒë·ªÉ chuy·ªÉn d·ªØ li·ªáu t·ª´ d·∫°ng **long** sang d·∫°ng **wide**.

N√≥i c√°ch kh√°c, stack v√† unstack ch√≠nh l√† thao t√°c ho√°n ƒë·ªïi v·ªã tr√≠ c·∫•p ch·ªâ s·ªë gi·ªØa rows v√† columns trong MultiIndex.

* V√≠ d·ª• b·∫£ng ƒëi·ªÉm sinh vi√™n

In [55]:
import pandas as pd

df = pd.DataFrame({
    "Name": ["An", "B√¨nh"],
    ("Score", "Math"): [8, 6],
    ("Score", "Physics"): [7, 9]
}).set_index('Name')

df.columns = pd.MultiIndex.from_tuples(df.columns)
print("=== Wide (MultiIndex columns) ===")
print(df)

=== Wide (MultiIndex columns) ===
     Score
      Math Physics
Name
An       8       7
B√¨nh     6       9

* Ki·ªÉm tra ch·ªâ s·ªë ph√¢n c·∫•p (MultiIndex)

In [56]:
print(df.columns)

MultiIndex([('Score',    'Math'),
            ('Score', 'Physics')],
           )

* Nh∆∞ v·∫≠y MultiIndex c√≥ 2 c·∫•p: 
    - level 0: Score
    - level 1: Math, Physics
* D√πng **stack** ƒë·ªÉ "n√©n" 1 ch·ªâ s·ªë c·ªôt xu·ªëng th√†nh ch·ªâ s·ªë h√†ng (t·ª´ **wide** sang **long**):

In [57]:
df_stack = df.stack(level=1, future_stack=True)
print(df_stack)

              Score
Name
An   Math         8
     Physics      7
B√¨nh Math         6
     Physics      9

* D√πng **unstack** ƒë·ªÉ chuy·ªÉn t·ª´ ch·ªâ s·ªë d√≤ng th√†nh ch·ªâ s·ªë c·ªôt (**long** sang **wide**):

In [58]:
---

## **üí° TIPS & TRICKS CHO SINH VI√äN**

---

### **üéØ Chi·∫øn l∆∞·ª£c h·ªçc t·∫≠p hi·ªáu qu·∫£:**

#### **üìö H·ªçc tu·∫ßn t·ª±:**
1. **B·∫Øt ƒë·∫ßu v·ªõi MultiIndex** - ƒê√¢y l√† n·ªÅn t·∫£ng cho t·∫•t c·∫£ c√°c k·ªπ thu·∫≠t kh√°c
2. **Th·ª±c h√†nh v·ªõi d·ªØ li·ªáu nh·ªè** tr∆∞·ªõc khi chuy·ªÉn sang d·ªØ li·ªáu l·ªõn
3. **Hi·ªÉu r√µ t·ª´ng b∆∞·ªõc** tr∆∞·ªõc khi k·∫øt h·ª£p nhi·ªÅu k·ªπ thu·∫≠t

#### **üîÑ Th·ª±c h√†nh th∆∞·ªùng xuy√™n:**
- **L√†m l·∫°i c√°c v√≠ d·ª•** trong notebook
- **Th·ª≠ nghi·ªám** v·ªõi d·ªØ li·ªáu kh√°c nhau
- **T·∫°o v√≠ d·ª• ri√™ng** t·ª´ lƒ©nh v·ª±c b·∫°n quan t√¢m

---

### **‚ö†Ô∏è Nh·ªØng l·ªói th∆∞·ªùng g·∫∑p:**

#### **‚ùå L·ªói 1: Qu√™n reset index**
```python
# SAI
df.set_index(['A', 'B']).loc['value']  # C√≥ th·ªÉ g√¢y l·ªói

# ƒê√öNG
df_indexed = df.set_index(['A', 'B'])
df_indexed.loc['value']
```

#### **‚ùå L·ªói 2: Nh·∫ßm l·∫´n gi·ªØa merge v√† concat**
```python
# SAI: D√πng concat ƒë·ªÉ merge
pd.concat([df1, df2], axis=1)  # Kh√¥ng ƒë√∫ng m·ª•c ƒë√≠ch

# ƒê√öNG: D√πng merge
pd.merge(df1, df2, on='key')
```

#### **‚ùå L·ªói 3: Kh√¥ng ki·ªÉm tra d·ªØ li·ªáu tr∆∞·ªõc khi merge**
```python
# SAI: Merge m√† kh√¥ng ki·ªÉm tra
merged = pd.merge(df1, df2, on='key')

# ƒê√öNG: Ki·ªÉm tra tr∆∞·ªõc
print(df1['key'].nunique())
print(df2['key'].nunique())
merged = pd.merge(df1, df2, on='key', how='outer')
```

---

### **üöÄ Best Practices:**

#### **üìä 1. Lu√¥n ki·ªÉm tra d·ªØ li·ªáu tr∆∞·ªõc khi x·ª≠ l√Ω:**
```python
# Ki·ªÉm tra c·∫•u tr√∫c d·ªØ li·ªáu
print(df.info())
print(df.head())
print(df.describe())

# Ki·ªÉm tra missing values
print(df.isnull().sum())

# Ki·ªÉm tra duplicates
print(df.duplicated().sum())
```

#### **üîß 2. S·ª≠ d·ª•ng MultiIndex khi c·∫ßn thi·∫øt:**
```python
# Khi n√†o d√πng MultiIndex:
# ‚úÖ D·ªØ li·ªáu c√≥ nhi·ªÅu chi·ªÅu (nhi·ªÅu h∆°n 2)
# ‚úÖ C·∫ßn truy xu·∫•t nhanh theo nhi·ªÅu ti√™u ch√≠
# ‚úÖ C·∫ßn th·ª±c hi·ªán groupby ph·ª©c t·∫°p

# Khi n√†o KH√îNG d√πng MultiIndex:
# ‚ùå D·ªØ li·ªáu ƒë∆°n gi·∫£n, ch·ªâ c√≥ 1-2 chi·ªÅu
# ‚ùå Kh√¥ng c·∫ßn truy xu·∫•t nhanh
# ‚ùå D·ªØ li·ªáu thay ƒë·ªïi th∆∞·ªùng xuy√™n
```

#### **üîÑ 3. Ch·ªçn ph∆∞∆°ng ph√°p merge ph√π h·ª£p:**
```python
# Inner join: Ch·ªâ gi·ªØ d·ªØ li·ªáu c√≥ trong c·∫£ 2 b·∫£ng
pd.merge(df1, df2, on='key', how='inner')

# Left join: Gi·ªØ t·∫•t c·∫£ d·ªØ li·ªáu t·ª´ b·∫£ng tr√°i
pd.merge(df1, df2, on='key', how='left')

# Outer join: Gi·ªØ t·∫•t c·∫£ d·ªØ li·ªáu t·ª´ c·∫£ 2 b·∫£ng
pd.merge(df1, df2, on='key', how='outer')
```

#### **üìà 4. Reshape d·ªØ li·ªáu m·ªôt c√°ch th√¥ng minh:**
```python
# Wide ‚Üí Long: D√πng melt khi c·∫ßn ph√¢n t√≠ch theo bi·∫øn
df_long = df.melt(id_vars=['id'], value_vars=['var1', 'var2'])

# Long ‚Üí Wide: D√πng pivot khi c·∫ßn b√°o c√°o
df_wide = df_long.pivot(index='id', columns='variable', values='value')
```

---

### **üéØ Checklist tr∆∞·ªõc khi k·∫øt th√∫c:**

- [ ] **Hi·ªÉu ƒë∆∞·ª£c MultiIndex** v√† c√°ch s·ª≠ d·ª•ng
- [ ] **Bi·∫øt c√°ch merge** d·ªØ li·ªáu t·ª´ nhi·ªÅu ngu·ªìn
- [ ] **C√≥ th·ªÉ reshape** d·ªØ li·ªáu theo y√™u c·∫ßu
- [ ] **Th·ª±c h√†nh** v·ªõi √≠t nh·∫•t 3 v√≠ d·ª• kh√°c nhau
- [ ] **L√†m ƒë∆∞·ª£c** c√°c b√†i t·∫≠p c∆° b·∫£n v√† trung b√¨nh

---

### **üìö T√†i li·ªáu tham kh·∫£o:**

1. **Pandas Documentation:** [MultiIndex](https://pandas.pydata.org/docs/user_guide/advanced.html)
2. **Pandas Documentation:** [Merge](https://pandas.pydata.org/docs/user_guide/merging.html)
3. **Pandas Documentation:** [Reshaping](https://pandas.pydata.org/docs/user_guide/reshaping.html)

---

### **üîÆ L·ªô tr√¨nh h·ªçc ti·∫øp:**

Sau khi ho√†n th√†nh b√†i h·ªçc n√†y, b·∫°n s·∫Ω h·ªçc:

1. **B√†i 7:** Ph√¢n t√≠ch d·ªØ li·ªáu v·ªõi Pandas
2. **B√†i 8:** Tr·ª±c quan h√≥a d·ªØ li·ªáu v·ªõi Matplotlib/Seaborn
3. **B√†i 9:** Ph√¢n t√≠ch th·ªëng k√™ c∆° b·∫£n
4. **B√†i 10:** Machine Learning c∆° b·∫£n

---

## **üéâ K·∫æT TH√öC B√ÄI GI·∫¢NG**

SyntaxError: invalid syntax (950097237.py, line 1)